{% if template.name == 'cart' %}

  <a href="{{ routes.collections_url }}" role="button" >

{% else %}

  <a
  @keydown.space.prevent=""
  @keyup.space.prevent.stop="$store.tab.toggle('cart')"
  @click.prevent.stop="$store.tab.toggle('cart')"
  href="{{ routes.cart_url }}"
  class="header__icon header__icon--cart"
  aria-haspopup="dialog"
  role="button"
  >


{% endif %}

  <!-- Use ID cart-icon-bubble to hook into dynamically rendered section -->
  <div id="cart-icon-bubble">
    {% render 'cart-icon-bubble' %}
  </div>

  <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
</a>