{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<footer class="section-footer footer padding-x py-5">
  <div class="">
    <!-- Blocks -->
    <div class="">
      {%- if section.blocks.size > 0 -%}
        {%- for block in section.blocks -%}
          {% render 'footer-menu-column', block: block %}
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>

</footer>

{% comment %}theme-check-enable UndefinedObject{% endcomment %}


{% schema %}
{
  "name": "t:sections.footer.name",
  "max_blocks": 5,
  "enabled_on": {
    "groups": [
      "footer"
    ]
  },
  "settings": [

  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
