<div class="padding-x pt-[1.125rem] pb-15 pb-30 md:pb-20 {% if section.settings.border %} border-b{% endif %} rte">
  {% if section.settings.show_title %}
    <h2>{{ page.title }}</h2>
  {% endif %}
  {{ page.content }}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "enabled_on": {
    "templates": [
      "page"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_title",
      "label": "Show page title as indented heading",
      "default": false
    }
  ],
  "tag": "section",
  "class": "section"
}
{% endschema %}
