<div id="section-{{ section.id }}" class="text-link-container padding-x padding-top pb-15 md:pb-13 {% if section.settings.border %} border-b{% endif %} rte">
  {% if section.settings.heading != blank %}
    <h2>{{ section.settings.heading }}</h2>
  {% endif %}
  {{ section.settings.text }}
</div>

{% schema %}
{
  "name": "Text",
  "tag": "section",
  "class": "section-richtext",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Lorem ipsum—",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nunc lectus, finibus sit amet felis at, mattis imperdiet odio.</p>",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "border",
      "default": false,
      "label": "Bottom Border"
    }
  ],
  "presets": [
    {
      "name": "Text"
    }
  ]
}
{% endschema %}