@keyframes blink {
	0% {
		opacity: 0
	}
	49% {
		opacity: 0
	}
	50% {
		opacity: 1
	}
}

.madlib-text__cursor {
	animation: blink 1s linear infinite;
	animation-delay: 500ms;
}


.madlib-text__cursor.disabled {
	animation: none;
	opacity: 1;
}